@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #f0fdf4, #ecfeff); /* soft green-blue gradient */
  color: #1f2937; /* slate gray text */
}

h1, h2, h3, h4 {
  font-weight: 700;
  letter-spacing: -0.5px;
}
